{% extends 'padre.html' %} <!--Herencia-->


{% block contenidoQueCambia %}
  
  <br>
  <h1>Nuestras clases</h1>

  <p>
    Descubre un espacio de calma y transformación. En nuestro estudio, te invitamos a conectar con tu cuerpo, mente y espíritu a través de prácticas de yoga diseñadas para todos los niveles. 
    Ya seas principiante o un yogui experimentado, aquí encontrarás clases que te inspirarán a alcanzar tu máximo potencial y a encontrar equilibrio en tu vida diaria.
  </p>

  <p>
    Únete a nosotros y comienza tu viaje hacia el bienestar integral. Te esperamos!
  </p>

{% endblock contenidoQueCambia %}